html {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #daf3fe;
    background-image: url("./img/bg-pattern-03.png");
    color: #2a3236;
    margin: 0;
    min-width: min-content;
}

h1 {
    font-weight: 600;
    font-size: 64px;
    padding: 48px;
    background-image: url("./img/bg-pattern-04.png");
    border-bottom: 1px solid #2a3236;
    text-align: center;
    margin: 0;
}

.header {
    width: 100%;
}

.intro-text {
    padding-top: 32px;
    font-size: 18px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1F2937;
    padding: 16px;
    text-align: center;
    color: #E5E7EB;
}