html {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #daf3fe;
    background-image: url("./img/background.jpg");
    color: #2a3236;
    margin: 0;
    min-width: min-content;
}

h1 {
    /* From https://css.glass */
    background: rgba(192, 101, 238, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border-bottom: 1px solid rgba(52, 40, 58, 0.31);
    font-weight: 600;
    font-size: 64px;
    padding: 48px;
    text-align: center;
    margin: 0;
    color: #E5E7EB;
}

.header {
    width: 100%;
}

.intro-text {
    padding: 8px 32px;
    font-size: 20px;
    text-align: center;
    margin: 32px;
    color: #E5E7EB;
    /* From https://css.glass */
    background: rgba(86, 86, 86, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(86, 86, 86, 0.31);
    border-radius: 16px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: #E5E7EB;
    /* From https://css.glass */
    background: rgba(192, 101, 238, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border-top: 1px solid rgba(192, 101, 238, 0.31);
}

.choices {
    display: flex;
    align-items: center;
    gap: 32px;
}

.choice {
    margin-top: 16px;
    color: #E5E7EB;
    width: 220px;
    font-size: 40px;
    text-align: center;
    padding: 16px 0;
    /* From https://css.glass */
    background: rgba(86, 86, 86, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(86, 86, 86, 0.31);
    border-radius: 16px;
}

.choice:hover {
    cursor: pointer;
    background: rgba(80, 34, 94, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.5s;
}

.result {
    /* From https://css.glass */
    background: rgba(86, 86, 86, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(86, 86, 86, 0.31);
    border-radius: 16px;
}